<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">  
<suite name="Check End to End Flow">  
  <test name="Check Add To Cart Items">  
	
    <classes>  
      <class name="ecomm.TestCases.HomePageTest"></class>
       <class name="ecomm.TestCases.LoginTest"></class>
        <class name="ecomm.TestCases.AccountPageTest"></class>
         <class name="ecomm.TestCases.SalePageTest"></class>
          <class name="ecomm.TestCases.ProductDetailPageTest"></class>
          <class name="ecomm.TestCases.CheckOutTest"></class>
    </classes> 
  </test>       
</suite>  